/* Write your code here */
* {
  font-family: 'Roboto';
}
.body {
  margin: 0px;
}
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: darkgoldenrod;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-btn {
  background-color: transparent;
  border: none;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
}

.company {
  color: black;
  font-family: 'Roboto';
  font-size: 14px;
}

.description {
  text-align: center;
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
}

@media (min-width: 768px) {
  .username {
    font-size: 40px;
  }
  .description {
    font-size: 30px;
  }
  .company {
    font-size: 40px;
  }
  .heading {
    font-size: 50px;
  }
}
